*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}


.bg-gray{
    background-color: rgba(32, 189, 189, 0.952);
}

.custom-button{
        width: 150px;
        height: 50px;
        padding: 5px 10px;
        background-color: rgb(39, 2, 204);
        border-style: none;
        border-radius: 30px;
        color: white;
        font-weight: bold;
        cursor: pointer;
      
} 


.content{
    width:100vw;
    height: auto;
    background-color: rgba(237, 241, 241, 0.959);
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    padding: 40px;
}



.content>span{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 40px;
  
}


.color-title{
    color:rgb(39, 2, 204);
    font-size: 80px;
    margin: 0;
}


.bg-color{
color: black;
}


/* menu-de-navegação  */

.nav-menu>ul{
    width:100%;
    display: flex;

}

.nav-menu>ul>li>img{
    width: 20px;
    margin: 8px;
}

.nav-menu>ul>li{
    margin:20px  80px;
    list-style: none;
    font-weight: 900;
    cursor: pointer;


}

#nav-menu-bts{
    display: none;
}


.container-color-primary{
    background-color: #000000ee;
    color: white;

}


.sub-title{
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
}


.sub-title>img{
    width: 30px;
    padding: 4px;
}

.icone{
    width: 30px;
}

#precos{
    background-color: rgba(240, 248, 255, 0.87);
  
}



@media(max-width:720px) {
    .nav-menu{
        display: none;
    } 
    #nav-menu-bts{
        display: block;
    }

    #cards{
        width: 80%;
     

      }

    #cards>div{
        display: flex;
        flex-direction: column;
        text-align: center;
    
      }

   

     

  
}



@media(min-width:640px){
    #video{
       max-width: 500px;
    }
   
        
    

   
}


